* text=auto
*.sh text eol=lf
*.py text eol=lf
go.sh text eol=lf
phone.sh text eol=lf
pull.sh text eol=lf
stop.sh text eol=lf
diag.sh text eol=lf
maps.sh text eol=lf
*.wzm binary
*.wdf binary
*.txt text eol=lf
*.conf text eol=lf
